<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UFT-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portifólio</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body> 
        <nav>
            <ul>
                <li><a href="#inicio">Início</a></li>
                <li><a href="#sobremim">Sobre mim</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
                <li><a href="#futuro">Inspirações</a></li>
                <li><a href="#contato">Contatos</a></li>
            </ul>

        </nav>
        <header id="inicio">
            <div>

                    <p>"Nosso destino vive dentro de nós, você só tem que ser corajoso o suficiennte para vê-lo"</p>
                    <span>- Merida, Valente.</span>
            </div>
            <div id="img-dream">
                <img src="../static/img/Dreamer-pana.png" alt="Garota sonhando">
            </div>
        </header>
        <section id="sobremim">
            <div>
                <img src="../static/img/euzinha.png" alt="Foto 3x4">
            </div>
            <div>
                <p> Apaixonada por animação, programação e design. Estudante e sonhadora, meu maior objetivo é levar uma nova forma de ver o mundo através da arte.
                </p>
            </div>
        </section>
        <section id="projetos">
            <div> 
                <img src='../static/img/Humor.png'>
                <h2> Projeto Humor</h2>
                <p>Projeto de HTML, CSS e JavaScrip, que permite mudar as imagens de acordo com a quantidade de vezes que clicam no botão.
                </p>
                <button> <a href="https://github.com/Tyfani21/blueb/tree/main/humor" target="_blak"> Veja mais</a></button>
            </div>
            
            <div> 
                <img src='../static/img/detetive.png'>
                <h2> Projeto Detetive</h2>
                <p>Projeto de um jogo de terminal que descobre o assassino de acordo com as opções escolhidas pelo jogador.
                </p>
                <button> <a href="https://github.com/Tyfani21/blueb/blob/main/prjt%20detetive/detetive.py" target="_blak"> Veja mais</a></button>
            </div>
            <div> 
                <img src='../static/img/MeuMundo.png'>
                <h2> Instagram de desenho</h2>
                <p>Conta do Instagram criada com o intuito de divulgar minha arte, minhas ideias de histórias e meus livros favoritos.
                    </p>
                <button><a href="https://www.instagram.com/meu_mundo_pintado/" target="_blak"> Veja mais</a></button>
            </div>
            <div> 
                <img src='../static/img/Super.png'>
                <h2> Projeto Super Batata</h2>
                <p>Jogo que aumenta as caractéristicas do personagem criando uma narrativa de acordo com as escolhas do jogador.</p>
                <button> <a href="https://github.com/Tyfani21/Projeto-final.git" target="_blak">Veja mais</a></button>
            </div>
            
        </section>
        <section id= futuro>
            <h2>Inspirações</h2>
            <div id="video">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/M_Z9gYvwnHI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
            </div>
            <div id="desenho">
                <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/tv/CPrMzITjJEA/?utm_source=ig_embed}&amp;utm_campaign=loading" data-instgrm-version="13" > <a href="https://www.instagram.com/tv/CPrMzITjJEA/?utm_source=ig_embed&amp;utm_campaign=loading" href="https://www.instagram.com/tv/CPrMzITjJEA/?utm_source=ig_embed&amp;utm_campaign=loading">Deanna Marsigliese
                </a></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
                
                
            </div>
            <div id="picolo">
                <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/B_SlKWLpFNn/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="13"><a href="https://www.instagram.com/p/B_SlKWLpFNn/?utm_source=ig_embed&amp;utm_campaign=loading" target="_blank"><a href="https://www.instagram.com/p/B_SlKWLpFNn/?utm_source=ig_embed&amp;utm_campaign=loading" >Gabriel Picolo (@_picolo): Ilustrador Brasileiro</a></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
             </div>

        </section>

        <section id="habilidades">
            <h2>Habilidades Técnicas</h2>

            <p>Python</p>
            <div>
                <span id="python">15%</span>
            </div>
            <p>HTML 5</p>
            <div>
                <span id="html">40%</span>
            </div>
            <p>CSS 3</p>
            <div>
                <span id="css">35%</span>
            </div>
        </section>

        <section id="contato">

            <div id="redes">
               <h3>Se conecte comigo</h3>
      
               <div id="icons">
                  <a href="https://www.linkedin.com/in/tyfaniabreu/" target="_blank"> 
                     <i class="fa fa-linkedin-square" aria-hidden="true"></i> 
                  </a>
         
                  <a href="https://github.com/Tyfani21" target="_blank"> 
                     <i class="fa fa-github" aria-hidden="true"></i> 
                  </a>
         
                  <a href="https://www.instagram.com/tyfani_abreu/" target="_blank"> 
                     <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
               </div>
               
            </div>
      
            <div id="form">
      
        
          <h3>Mande uma mensagem</h3>

            <form action='/send' method="POST">
               <label for="nome">Nome</label>
               <input type="text" placeholder="Digite seu nome" id="nome" name="nome">
      
               <label for="email">E-mail</label>
               <input type="email" placeholder="Digite seu email" id="email" name="email">
      
      
               <label for="mensagem">Mensagem</label>
               <textarea name="mensagem" id="mensagem" cols="30" rows="10" placeholder="Digite sua mensagem"></textarea>
      
               <button type="submit" id="enviar">Enviar</button>
      
            </form>
      
            <div id="carregamento">
               <p>Enviando mensagem</p>
               <div id="loader"></div>
            </div>
            </div>
         </section>
      
         
      
    <script src="../static/js/script.js"></script>     
    </body>
<footer>


</footer>



</html>